<template>
    <v-layout align-center justify-center>
        <v-flex xs12 sm8 md6>
            <panel title="Add a board game">
                <v-flex xs12 d-flex>
                    <v-text-field label="Title" required v-model="game.sTitle" :rules="[rules.required]"/>
                    <v-spacer />
                    <v-select v-model="game.iMinPlayers" :items="players" label="Minimum Players"  :rules="[rules.required]"/>
                    <v-spacer />
                    <v-select v-model="game.iMaxPlayers" :items="players" label="Maximum Players" :rules="[rules.required]"/>
                </v-flex>
                <v-flex xs12 d-flex>
                <v-text-field label="Suggested Time" suffix="mins" v-model="game.iSuggestedTime" />
                <v-spacer />
                <v-select v-model="game.sDifficulty" :items="difficulty" label="Difficulty" :rules="[rules.required]"/>
                </v-flex>
                <v-flex xs12 d-flex>
                    <v-text-field label="Genre" v-model="game.sGenre" />
                    <v-spacer />
                    <v-text-field label="Category" v-model="game.sCategory" />
                </v-flex>
                <v-flex xs12 d-flex>
                <v-text-field label="Owner" required v-model="game.sOwner" :rules="[rules.required]"/>
                <v-spacer />
                <v-text-field label="BoardGameGeek ID" v-model="game.iBGG" />
                </v-flex>
                <div v-if="error" class="required-alert">
                    {{error}}
                </div>
                <v-btn dark class="red" @click.native="close">Cancel</v-btn>
                <v-btn dark class="cyan" @click="add">Add Game</v-btn>
            </panel>
        </v-flex>
    </v-layout>
</template>

<script>
import panel from '@/components/panel'
import gamesService from '@/services/gamesService'

export default {
    data () {
        return {
            game: {
                sTitle: null,
                iMinPlayers: null,
                iMaxPlayers: null,
                sDifficulty: null,
                iSuggestedTime: null,
                sOwner: null,
                sGenre: null,
                sCategory: null,
                iBGG: null
            },
            players: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
            difficulty: ['Easy', 'Medium', 'Hard'],
            rules: {
                required: value => !!value || 'Required.'
            },
            error: null
        }
    },
    methods: {
        async add () {
            this.error = null
            const requiredFields = Object
                .keys(this.game)
                .every(key => !!this.game[key])
            if (!requiredFields) {
                this.error = 'Please fill in all the required fields.'
                return
            }

            try {
                await gamesService.post(this.game)
            } catch (err) {
                console.log(err)
            }
        }
    },
    components: {
        panel
    }
}
</script>

<style scoped>
</style>
