<template>
    <v-layout align-center justify-center>
        <v-flex xs12 sm10 md12>
            <v-toolbar flat dense class="cyan" dark>
            <v-toolbar-title>Board Games</v-toolbar-title>
                <v-spacer />
                <v-dialog v-model="dialog" max-width="800px">
                    <v-btn slot="activator" fab flat small>
                        <v-icon>add</v-icon>
                    </v-btn>
                    <v-card>
                        <v-card-title>
                            <span class="headline">Add Game</span>
                        </v-card-title>
                        <v-card-text>
                            <v-flex xs12 d-flex>
                                <v-text-field label="Title" required v-model="game.sTitle" :rules="[rules.required]"/>
                            </v-flex>
                            <v-flex xs12 d-flex>
                                <v-select v-model="game.iMinPlayers" :items="players" label="Minimum Players"  :rules="[rules.required]"/>
                                <v-spacer />
                                <v-select v-model="game.iMaxPlayers" :items="players" label="Maximum Players" :rules="[rules.required]"/>
                            </v-flex>
                            <v-flex xs12 d-flex>
                                <v-text-field label="Suggested Time" suffix="mins" v-model="game.iSuggestedTime" />
                                <v-spacer />
                                <v-select v-model="game.sDifficulty" :items="difficulty" label="Difficulty" :rules="[rules.required]"/>
                            </v-flex>
                            <v-flex xs12 d-flex>
                                <v-text-field label="Genre" v-model="game.sGenre" />
                                <v-spacer />
                                <v-text-field label="Category" v-model="game.sCategory" />
                            </v-flex>
                            <v-flex xs12 d-flex>
                                <v-text-field label="Owner" required v-model="game.sOwner" :rules="[rules.required]"/>
                                <v-spacer />
                                <v-text-field label="BoardGameGeek ID" v-model="game.iBGG" />
                            </v-flex>
                            <div v-if="error" class="required-alert">
                                {{error}}
                            </div>
                        </v-card-text>
                        <v-btn dark class="red" @click.native="close">Cancel</v-btn>
                        <v-btn dark class="cyan" @click="add">Add Game</v-btn>
                    </v-card>
                </v-dialog>
            </v-toolbar>
            <v-data-table :headers="headers" :items="listedGame" :search="search" :pagination.sync="pagination" hide-actions class="elevation-1">
                <template slot="items" slot-scope="props">
                    <tr v-for="game in games" :key="game.id">
                        <td>{{game.sTitle}}</td>
                        <td>{{game.iMinPlayers}}</td>
                        <td>{{game.iMaxPlayers}}</td>
                        <td>{{game.iSuggestedTime}} Minutes</td>
                        <td>{{game.sDifficulty}}</td>
                        <td>{{game.sGenre}}</td>
                        <td>{{game.sCategory}}</td>
                        <td>{{game.sOwner}}</td>
                        <td><v-btn small :href="'https://boardgamegeek.com/boardgame/' + game.iBGG" target="_blank">View BGG <v-icon small>open_in_new</v-icon></v-btn></td>
                    </tr>
                </template>
            </v-data-table>
            <div class="text-xs-center pt-2">
                <v-pagination v-model="pagination.page" :length="pages"></v-pagination>
            </div>
        </v-flex>
    </v-layout>
</template>

<script>
import gamesService from '@/services/gamesService'
import panel from '@/components/panel'

export default {
    components: {
        panel
    },
    data () {
        return {
            games: null,
            headers: [
                {text: 'Title', align: 'center', sortable: true, value: 'sTitle'},
                {text: 'Min Players', align: 'center', value: 'iMinPlayers'},
                {text: 'Max Players', align: 'center', value: 'game.iMaxPlayers'},
                {text: 'Suggested Time', align: 'center', value: 'game.iSuggestedTime'},
                {text: 'Difficulty', align: 'center', value: 'game.sDifficulty'},
                {text: 'Genre', align: 'center', value: 'game.sGenre'},
                {text: 'Category', align: 'center', value: 'game.sCategory'},
                {text: 'Owner', align: 'center', value: 'game.sOwner'}
            ],
            listedGame: [
                {
                    sTitle: null,
                    iMinPlayers: null,
                    iMaxPlayers: null,
                    sDifficulty: null,
                    iSuggestedTime: null,
                    sOwner: null,
                    sGenre: null,
                    sCategory: null,
                    iBGG: null
                }
            ],
            dialog: false,
            game: {
                sTitle: null,
                iMinPlayers: null,
                iMaxPlayers: null,
                sDifficulty: null,
                iSuggestedTime: null,
                sOwner: null,
                sGenre: null,
                sCategory: null,
                iBGG: null
            },
            players: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
            difficulty: ['Easy', 'Medium', 'Hard'],
            rules: {
                required: value => !!value || 'Required.'
            },
            error: null,
            search: '',
            pagination: {},
            selected: []
        }
    },
    async mounted () {
        this.games = (await gamesService.index()).data
    },
    watch: {
        dialog (val) {
            val || this.close()
        }
    },
    methods: {
        async add () {
            this.error = null
            const requiredFields = Object
                .keys(this.game)
                .every(key => !!this.game[key])
            if (!requiredFields) {
                this.error = 'Please fill in all the required fields.'
                return
            }

            try {
                await gamesService.post(this.game)
                this.close()
            } catch (err) {
                console.log(err)
            }
        },
        close () {
            this.dialog = false
            this.error = null
            setTimeout(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            }, 300)
        }
    },
    computed: {
        pages () {
            if (this.pagination.rowsPerPage == null ||
                this.pagination.totalItems == null
            ) return 0

            return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
        }
    }
}
</script>

<style scoped>
</style>
