<template>
    <v-layout align-center justify-center>
        <v-flex xs5>
            <panel title="Login">
                <form name="letsplay-login">
                        <v-text-field label="Email" v-model="email" :rules="[rules.required, rules.email]"></v-text-field>
                        <br>
                        <v-text-field label="Password" type="password"  v-model="password"></v-text-field>
                        <br>
                        <div class="required-alert" v-html="error" />
                        <br>
                        <v-btn dark class="cyan" @click="login">login</v-btn>
                    </form>
            </panel>
        </v-flex>
    </v-layout>
</template>

<script>
import authenticationService from '@/services/authenticationService'
import panel from '@/components/panel'
export default {
    components: {
        panel
    },
    data () {
        return {
            email: '',
            password: '',
            error: null,
            rules: {
                email: value => {
                    const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                    return pattern.test(value) || 'Invalid e-mail.'
                }
            }
        }
    },
    methods: {
        async login () {
            try {
                const response = await authenticationService.login({
                    email: this.email,
                    password: this.password
                })
                this.$store.dispatch('setToken', response.data.token)
                this.$store.dispatch('setUser', response.data.user)
                this.$router.push('games')
            } catch (error) {
                this.error = error.response.data.error
            }
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
