<template>
    <v-layout align-center justify-center>
        <v-flex xs5>
            <panel title="Register">
                    <form name="letsplay-register" autocomplete="off">
                        <v-text-field label="Email" v-model="email" :rules="[rules.required, rules.email]"></v-text-field>
                        <br>
                        <v-text-field label="Password" :append-icon="show1 ? 'visibility_off' : 'visibility'"  :type="show1 ? 'text' : 'password'" v-model="password" autocomplete="new-password" @click:append="show1 = !show1" hint="At least 8 characters" :rules="[rules.required, rules.min]"></v-text-field>
                        <br>
                        <div class="required-alert" v-html="error" />
                        <br>
                        <v-btn dark class="cyan" @click="register">Register</v-btn>
                    </form>
            </panel>
        </v-flex>
    </v-layout>
</template>

<script>
import authenticationService from '@/services/authenticationService'
import panel from '@/components/panel'
export default {
    components: {
        panel
    },
    data () {
        return {
            email: '',
            password: '',
            error: null,
            show1: false,
            rules: {
                required: value => !!value || 'Required.',
                min: v => v.length >= 8 || 'Min 8 characters',
                email: value => {
                    const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                    return pattern.test(value) || 'Invalid e-mail.'
                }
            }
        }
    },
    methods: {
        async register () {
            try {
                const response = await authenticationService.register({
                    email: this.email,
                    password: this.password
                })
                this.$store.dispatch('setToken', response.data.token)
                this.$store.dispatch('setUser', response.data.user)
            } catch (error) {
                this.error = error.response.data.error
            }
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
